@import "../../styles";

.container-login {
    background-image: url('/assets/images/background-login.jpg');
    background-size: cover;                    
                
}

a {
    color: map-get($runoclock-primary-palette, 50);
}

::ng-deep .mat-mdc-checkbox .mdc-label {
    color: #ff5722 !important; /* Cambia el color del texto */
}