<div class="container-login vh-100">        
  <div class="row-login row h-100 align-items-center">            
    <!-- Columna de Login -->
    <div class="col-login col-6 justify-content-center border-end border-1">
      <div class="row login">
        <div class="col-md-2"></div>
        <div class="form-login col-md-8 p-4">
          <div class="text-center">
            <img  src="assets/images/logo.png" alt="Logo" width="150">
          </div>
          <h1 class="text-center">Run O'Clock</h1>
          <h2 class="text-center">LogIn</h2>
          <button (click)="irAlDashboard()" mat-fab color="primary" class="runoclock-button my-2 w-100" extended>
            <mat-icon fontSet="fa" fontIcon="fab fa-google"></mat-icon>
            Iniciar sesión con Google
          </button>
          <mat-divider class="mb-2" ></mat-divider>
          <mat-form-field style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Introducir correo electrónico">
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña">
          </mat-form-field>
          <mat-checkbox color="primary">Recordarme</mat-checkbox>
          <button (click)="irAlDashboard()" mat-fab color="primary" class="runoclock-button w-100" extended>
            Acceder
          </button>
          <p class="text-end"><a href="#">¿Recuperar contraseña?</a></p>
        </div>          
        <div class="col-md-2"></div>
      </div>
    </div>
    
    <!-- Columna de Registro -->
    <div class="col-md-6 justify-content-center">
      <div class="row register">
        <div class="col-md-2"></div>
        <div class="col-md-8 card p-4" >
          <h2 class="text-center">Regístrate</h2>
          <button (click)="irAlDashboard()" mat-fab color="primary" class="runoclock-outlined-button my-2 w-100" extended>
            <mat-icon>google</mat-icon>
            Registrarse con Google
          </button> 
          <button (click)="irAlRegistro()" mat-fab color="primary" class="runoclock-outlined-button my-2 w-100" extended>
            <mat-icon >mail</mat-icon>
            Registrarse con el correo
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>   
