@import "../../../styles";

.container-registro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/background-registro.jpg');
    background-size: cover;
    background-position: center;
}

.container-registro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container-registro > * {
    position: relative;
    z-index: 1;
}

h1, h2{
    color: map-get($runoclock-primary-palette, 400);
}