    
  <div class="container-registro d-flex flex-column p-2 align-items-center justify-content-center main-container-height">            
    <div class="col-login col-4 ">
          <div class="text-center">
            <img  src="assets/images/logo.png" alt="Logo" width="150">
          </div>
          <h1 class="text-center">Run O'Clock</h1>
          <h2 class="text-center">Registro</h2>
          <mat-form-field  style="width: 100%;">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Introducir nombre de usuario">
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Introducir correo electrónico">
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña">
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput type="password" placeholder="Confirmar Contraseña">
          </mat-form-field>
          <div class="row">  
            <div class="col-6">
              <button (click)="irAlDashboard()" mat-fab color="primary" class="runoclock-button my-2 w-100" extended>
                Aceptar
              </button>
            </div>     
            <div class="col-6">
              <button (click)="cancel()" mat-fab color="primary" class="runoclock-outlined-button my-2 w-100" extended>
                Cancelar
              </button>
            </div>        
          </div>
        </div>          
      </div>  
