
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

$runoclock-primary-palette: (
  50: #E66210,
  100: #ED681C,
  200: #F46F26,
  300: #FB752F,
  400: #FF7E3E,
  500: #FF884E,
  600: #FF905C,
  700: #FF996A,
  800: #FFA177,
  900: #FFB99A,
  A100: #FFC9B2,
  A200: #FFD9C8,
  A400: #FFF7F4,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
  ),
);

$runoclock-secondary-palette: (
  50: #0020c0,
  100: #0030d0,
  200: #0040e0,
  300: #2050f0,
  400: #3060ff,
  500: #4070ff,
  600: #5080ff,
  700: #6090ff,
  800: #70a0ff,
  900: #80b0ff,
  A100: #95c0ff,
  A200: #ddeeff,
  A400: #f0f5ff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
  ),
);

$runoclock-tertiary-palette: (
  50: #603010,
  100: #704020,
  200: #805030,
  300: #906040,
  400: #a07050,
  500: #b08060,
  600: #c09070,
  700: #d0a080,
  800: #e0b090,
  900: #f0c0a0,
  A100: #f5d0b0,
  A200: #f9e0c0,
  A400: #fff5e0,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
  ),
);
$orange-palette: $runoclock-primary-palette;
$blue-palette: $runoclock-secondary-palette;
$brown-palette: $runoclock-tertiary-palette;

$runoclock-primary: mat.m2-define-palette($orange-palette, 50);
$runoclock-secondary: mat.m2-define-palette($blue-palette);
$runoclock-tertiary: mat.m2-define-palette($brown-palette);
$runoclock-theme: mat.m2-define-light-theme((
  color: (
    primary: $runoclock-primary,
    accent: $runoclock-secondary
  ),
));

$navbar-height: 78px;

@include mat.core();
@include mat.stepper-theme($runoclock-theme);
@include mat.form-field-theme($runoclock-theme);
@include mat.button-theme($runoclock-theme);
@include mat.all-component-themes($runoclock-theme);


html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  max-width: 100% !important;
}

.mat-mdc-fab.runoclock-button {
  height: 40px;
}

.mat-mdc-fab.runoclock-outlined-button {
  height: 40px;
  color: map-get($runoclock-primary-palette, 50);
  background-color: map-get($runoclock-primary-palette, A400);
  border-color: map-get($runoclock-primary-palette, 100);
  border: 1px solid;
}

.main-container-height {
  height: calc(100vh - #{$navbar-height});
}